.MainDash{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.MainDash > h1{
    font-size: 30px;
    font-weight: 600;
}
.MainDash > h2{
    font-size: 25px;
    font-weight: 500;
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content: flex-start;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
        width: auto;
    }
}